@import './base.css';

#app {
  padding: 2rem;

  height: 100vh;
  width: 100%;

  font-weight: normal;

  background: rgb(0, 0, 10);
  background: linear-gradient(180deg, rgba(0, 0, 10, 1) 0%, rgba(0, 0, 150, 1) 100%);
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 2vh;
  color:rgb(0, 0, 140)

}

main {
  margin: auto;
  background-color: white;
  width: 80%;
  min-height: 30vh;
  max-height: 80vh;
  padding: 5vh;
  border-radius: 20px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.content {
  width: 100%;
  max-height: 60vh;
  overflow: auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {}


@keyframes animateBg {
  0%,100%
  {
      transform:scale(1);
  }
  50%
  {
      transform:scale(1.2);
  }
}
span{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
  animation:  animate 3s linear infinite;
}
span::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0%
  {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }
  70%
  {
      opacity: 1;

  }
  100%
  {
      transform: rotate(315deg) translateX(-1500px);
      opacity: 0;

  }
  
}
span:nth-child(1){
  top: 0;
  right: 0;
  left:initial;
  animation-delay:0 ;
  animation-duration: 1s;
}

span:nth-child(2){
  top: 0;
  right: 80px;
  left:initial;
  animation-delay:0.2s;
  animation-duration: 3s;
}

span:nth-child(3){
  top: 80px;
  right: 0px;
  left:initial;
  animation-delay:0.4s ;
  animation-duration: 2s;
}

span:nth-child(4){
  top: 0;
  right: 180px;
  left:initial;
  animation-delay:0.6s;
  animation-duration: 1.5s;
}

span:nth-child(5){
  top: 0;
  right: 400px;
  left:initial;
  animation-delay:0.8s;
  animation-duration: 2.5s;
}

span:nth-child(6){
  top: 0;
  right: 600px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 3s;
}
span:nth-child(7 ){
  top: 300px;
  right: 0px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 1.75s;
}

span:nth-child(8){
  top: 0px;
  right: 700px;
  left:initial;
  animation-delay:1.4s ;
  animation-duration: 1.25s;
}

span:nth-child(9){
  top: 0px;
  right: 1000px;
  left:initial;
  animation-delay:0.75s ;
  animation-duration: 2.25s;
}

span:nth-child(10){
  top: 0px;
  right: 1000px;
  left:initial;
  animation-delay:2.75s ;
  animation-duration: 2.25s;
}
